version: "3.8"

services:
  postgres:
    container_name: postgres_container
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: dR4m%T6nb
      POSTGRES_DB: mavensales_db
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql
    networks:
      - maven-network

  dbt:
    container_name: dbt_container
    image: maven_dbt:latest
    build:
      context: .
    environment:
      DBT_PROFILES_DIR: /usr/app/dbt
    volumes:
      - ./dbt_project:/usr/app/dbt
    depends_on:
      - postgres
    networks:
      - maven-network
    command: ["--version"]

  pgadmin:
    container_name: pgadmin4_container
    image: dpage/pgadmin4
    restart: always

    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres
    networks:
      - maven-network

volumes:
  postgres-data:
  pgadmin_data:
  dbt_shared: {}

networks:
  maven-network:
    external: true
