services:
  ecomm-airflow:
    container_name: faker_airflow
    build:
      context: ./airflow
      dockerfile: Dockerfile
    ports:
      - "8081:8080"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/data:/opt/airflow/data
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
      - ./gcp_key/gcp_sa.json:/opt/airflow/gcp_sa.json:ro
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/gcp_sa.json
      - AIRFLOW__WEBSERVER__WEB_SERVER_HOST=0.0.0.0
    command: airflow standalone

  flask_api:
    container_name: flask_api
    build:
      context: ./flask_api
      dockerfile: Dockerfile
    restart: always
    ports:
      - "5000:5000"
    volumes:
      - ./airflow/data:/opt/airflow/data